.form-add {
  background-color: #fff;
  width: 50%;
  display: inline-block;
  margin: 2rem 0;
  padding: 25px;
  border-radius: 10px;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
}
.flex {
  margin: 10px;
  justify-content: space-between;
  gap: 50px 20px;
  flex-wrap: wrap;
}

input[type="number"] {
  height: 25px;
}

input[type="submit"] {
  padding: 10px;
  cursor: pointer;
}

select {
  padding: 10px;
  font-family: "Arial";
}

a {
  text-decoration: none;
}

.white {
  color: "white";
}

.flex {
  display: flex;
  gap: "10px";
}

select,
input[type="number"],
input[type="date"],
textarea {
  margin: 10px;
  width: 100%;
}

.pagination {
  padding: 5px;
  background-color: #f3f3f3;
  cursor: pointer;
}

.active {
  background-color: lightblue;
}

textarea {
  resize: none;
}

.error {
  color: red;
}
