.flex{
    display: flex;
    gap: "10px"
}

select,
input[type="number"],
input[type="date"],
textarea
{
    margin: 10px;
    width: 100%;
}

.pagination{
    padding: 5px;
    background-color: #f3f3f3;
    cursor: pointer;
}

.active{
    background-color: lightblue
}

textarea{
    resize: none;
}

span{
    color: red
}