.flex{
    display: flex;
    gap: "10px"
}

select{
    margin: 10px;
}

.pagination{
    padding: 5px;
    background-color: #f3f3f3;
    cursor: pointer;
}

.active{
    background-color: lightblue;
    
}